@font-face {
  font-family: "iconfont"; /* Project id 3353592 */
  src: url('iconfont.woff2?t=1651912167285') format('woff2'),
       url('iconfont.woff?t=1651912167285') format('woff'),
       url('iconfont.ttf?t=1651912167285') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yanzhengma:before {
  content: "\e647";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-mima:before {
  content: "\e600";
}

.icon-denglu-yonghu:before {
  content: "\e669";
}

